<%== @hypertext.content %>


<div id="hypertextDropdown" class="notDropped">
  
  <% if current_user %>
    <div id="hyperLinks" class="nav button">V</div>
  <% else %>
    <div id="hyperLinks" class="nav button hidden">V</div>
  <% end %>

  <div id="staticLink">
    HTML
  </div>

  <div id="hyperLists" class="button nav hidden">
    
  </div>
 
  <% if @hypertext.user == current_user %>
    <textarea id="txt" class="inv">
      <%= @hypertext.content %>
    </textarea>
  <% else %>
    <textarea id="txt" class="inv">
      <%= @hypertext.content %>
    </textarea>
  <% end %>

</div>

  <% if @hypertext.user == current_user %>
    <div class="button nav save" id="savesies">SAVE!</div>
  <% end %>



<!-- <div class="button">Grab me some JSON!</div> -->
<div id="userPage">
  <div id="hello">

  </div>
</div>

<div class="hypertext">

</div>

<div class="style"></div>

<div id="HIDE"><% if current_user %><%= "#{current_user.id}" %><% end %></div>
<div id="arrows"></div>

<div id="tutDown">
  <div id="tutorialBox" class="tutNotDropped">
      <div id="menu">Menu</div>

    <div class="tutorialText"></div>
    <div id="tutorialBTN">
      Tutorial
    </div>
  </div>
</div>