

<div id="rightHyper">
  <div id="hypertextDropdown" class="notDropped">
    
    <div id="staticLink">
      HTML
    </div>
   

    <textarea id="txt" class="inv">
      <% if current_user %>
        <%=  "#{current_user.hypertexts[0].content}" %>
      <% else %>
      <% end %>
    </textarea>

  </div>
</div>

<div class="button nav save <%= !current_user ? 'hidden' : '' %>" id="savesies">SAVE!</div>

<!-- <div class="button">Grab me some JSON!</div> -->
<div id="userPage">
  <div id="hello">

  </div>
</div>

<div class="hypertext">

</div>

<div class="style"></div>

<div id="HIDE"><% if current_user %><%= "#{current_user.id}" %><% end %></div>



<div id="tutDown">
  <div id="tutorialBox" class="tutNotDropped">
      <div id="menu">Menu</div>

    <div class="tutorialText"></div>
    <div id="tutorialBTN">
      Tutorial
    </div>
  </div>
</div>

