//Menu for Tutorial
var menuArray = [

    {stepone: "<h3>title<h3> <p>words go here!</p>"},
    {steptwo: "2nd stuff"},
    {stepthree: "third stuff"}

  ]


var tutorialStep = 0

// Reset buttons
var setButtons = function(){
  //Tutorial steps
  //Step one
  $('.tutorialText li.one').on('click', function(){
      $('.tutorialText').empty();
      $('.tutorialText').append('<h1>Instructions go here:</h1>');
      $('.tutorialText').append('<div class="othershit"></div>')
      $('.othershit').text(menuArray[0].stepone)
      tutorialStep = 1
  })
  // Step two
  $('.tutorialText li.two').on('click', function(){
      $('.tutorialText').empty();
      $('.tutorialText').append('<h1>Instructions go here:</h1>');
      $('.tutorialText').append('<div class="othershit"></div>')
      $('.othershit').text(menuArray[1].steptwo)
      tutorialStep = 2
  })
  // Step three
  $('.tutorialText li.three').on('click', function(){
      $('.tutorialText').empty();
      $('.tutorialText').append('<h1>Instructions go here:</h1>');
      $('.tutorialText').append('<div class="othershit"></div>')
      $('.othershit').text(menuArray[2].stepthree)
      tutorialStep = 3
  })
} 


// Check if a user is logged in.
var checkIfLoggedIn = function () {
  if (window.current_user) {
    console.log("User logged in");
  } else {
    console.log("No user");
  }
};

// XSS to prevent Script tags
var sanitizeText = function (text) {
  var re = new RegExp("<.*script.*>(.*<\s*\/\s*script\s*>)?", "g");
  var currentContent = $("#txt").val();

  var newContent = currentContent.replace( re, "" );
  $("#txt").val(newContent);

  return newContent;
};

$(document).ready(function(){

  //This is the editable HTML text box.
  $('#staticLink').on('click', function(){

      $('#hypertextDropdown.notDropped').toggleClass( "dropped" )
      
      $('#txt').toggleClass( "inv" );

  });

  //This is the editable HTML text box.
  // This renders the page on keyup.
  $('#txt').keyup(function(){

    $('#userPage').html(   sanitizeText($(this).val())    );

  })//.trigger("keyup"); //This makes what's in the editable HTML text box render on the page automatically on page load.

  // This is to allow tabbing in the text box.
  $(document).delegate('#txt', 'keydown', function(e) {
    var keyCode = e.keyCode || e.which;

    if (keyCode == 9) {
      e.preventDefault();
      var start = $(this).get(0).selectionStart;
      var end = $(this).get(0).selectionEnd;

      // set textarea value to: text before caret + tab + text after caret
      $(this).val($(this).val().substring(0, start)
                  + "\t"
                  + $(this).val().substring(end));

      // put caret at right position again
      $(this).get(0).selectionStart =
      $(this).get(0).selectionEnd = start + 1;
    }

  });


  // Automated intro starts here:
  // Check to see if the user is logged in. If logged in, no intro, if not logged in start the intro.
  var checkIfLoggedIn = function () {
    if (window.current_user) {
      // console.log("User logged in");
    } else {
      // console.log("No user");

      intro();
    }
  };

  // Check to see if the user is on the homepage.
  // Only start intro if the user is on the homepage.
  var homePage = function(){
    if(location.pathname === '/'){
      checkIfLoggedIn();
    }
  };

  homePage();



  //Tutorial starts here:
  var tutorial = function(){


    //This is the tutorial button
    $('#tutorialBTN').on('click', function(){
        
        $('#tutorialBox').toggleClass( "tutDropped" )
        $('#tutorialBox').toggleClass( "menu" )

        $('.menu').toggleClass( "inv" );

        $('#tutorialBTN').toggleClass( "borderRight" )

        if ($('#tutorialBox').hasClass( "tutDropped" ) && tutorialStep === 0) {

          // $('.tutDropped').append('<p>Hi</p>').show();
          $('.tutorialText').html('<li class="one"><a>Click me</a></li><li class="two"><a>Click me2</a></li><li class="three"><a>Click me3</a></li>').show();

          setButtons();

           // Always push your text to here.
        } else if (tutorialStep === 1){
          $('.tutorialText').html('<p>'+menuArray[0].stepone+'<p>')

        } else if (tutorialStep === 2){
          $('.tutorialText').html('<p>'+menuArray[1].steptwo+'<p>');

        } else if (tutorialStep === 3){
          $('.tutorialText').html('<p>'+menuArray[2].stepthree+'<p>');

        }



 // Menu button
      $('#menu').on('click', function(){
        tutorialStep = 0;

        if ($('#tutorialBox').hasClass( "tutDropped" ) && tutorialStep === 0) {

            $('.tutorialText').html('<li class="one"><a>Click me</a></li><li class="two"><a>Click me2</a></li><li class="three"><a>Click me3</a></li>').show();
          }
          setButtons();
      });


    //End of #tutorialBTN on click
    });


    //End of Tutorial function
  }


  tutorial();


// End of Document Ready
});



     // <bigdiv>
    //     <stepone>
    //     <steptwo>
    //     <stepthree>
    // </bigdiv>



    // $.ajax('/styles/3.json').done(function(data){
    //   console.log(data);

    //   var json = CSSJSON.toJSON(data.content);
    //   var css = CSSJSON.toCSS(json);

    //   // console.log(css)
    //   $('.style').append('<style>' + css + '</style>')
    //   $('.style').append( css )

    //   // $('body').css(css)
    // })


  // $('.button').on('click', function(){
    
  //   $.ajax('/hypertexts/3.json').done(function(data){
  //     console.log(data);
  //     $('#userPage').append($(data.content))
  //   })

  // });
