//Menu for Tutorial
var menuArray = [

    {stepone: ["<body> </body>", "<p> </p>", "<h1> </h1>", "<a> </a>", "<img> </img>", "<li> </li>", "<div> </div>", "<br>"]},
    {steptwo: "<style> </style>"},
    {stepthree: ["<style> </style>", "<body> </body>", '<style>', 'body{', ' background-color: rgb(0, 2, 25)','}', '</style>']},
    {stepfour: ["<div id=\"outerDiv\"> </div>", '#outerDiv{\
      margin:auto;\
      border: 2px solid red;\
      height: 200px;\
      width: 200px;\
      }']},

]

var instructions = [
  {stepone: '<h3 style="margin-top:10px; margin-bottom: 0;">Let\'s go over the basics!</h3> <span>Here we have opening tags and closing tags. Closing tags have a backslash.</span>'},
  {steptwo: '<h3>This is a style tag.</h3>'},
  {stepthree: '<h3>Let\'s build a basic website!</h3><span>We will start by making our body tag. Everything we do will be wrapped by the body tag. </span>'},
  {stepfour: '<h3>Let\'s add div\'s!</h3>'}
]



var tutorialStep = 0

// Reset buttons
var setButtons = function(){
  //Tutorial steps
  //The Basics
  $('.tutorialText li.one').on('click', function(){
      $('.tutorialText').empty();
      $('.tutorialText').append(instructions[0].stepone);
      $('.tutorialText').append('<br><div class="textCode">\
          <strong>This is a body tag.</strong>\
          </div>\
         <div class="codeblock codeblock0"></div>\
          <br>\
          <div class="textCode">\
            <strong>This is a paragraph tag.</strong>\
          </div>\
          <div class="codeblock codeblock1"></div>\
          <br>\
          <div class="textCode">\
            <strong>This is a header tag.</strong>\
          </div>\
          <div class="codeblock codeblock2"></div>\
          <br><div class="textCode">\
            <strong>This is a link tag.</strong>\
          </div>\
          <div class="codeblock codeblock3"></div>\
          <br><div class="textCode">\
          <strong>This is an image tag.</strong>\
          </div>\
          <div class="codeblock codeblock4"></div>\
          <br><div class="textCode">\
            <strong>This is a list tag.</strong>\
          </div>\
          <div class="codeblock codeblock5"></div>\
          <br><div class="textCode">\
            <strong>This is a division tag.</strong>\
          </div>\
          <div class="codeblock codeblock6"></div>\
          <br><div class="textCode">\
            <strong>This is a line break, you don\'t need a closing tag.</strong>\
          </div>\
          <div class="codeblock codeblock7"></div><br><br>');
      for (var i = 0; i <= 7; i++) {
        $('.codeblock' + i).text(menuArray[0].stepone[i]);
      }

      tutorialStep = 1;
  })
  // Styling
  $('.tutorialText li.two').on('click', function(){
      $('.tutorialText').empty();
      $('.tutorialText').append(instructions[1].steptwo);
      $('.tutorialText').append('<div class="codeblock"></div>')
      $('.tutorialText').append('<div class="textCode"><br>We will be putting all of our styling requirements inside of this tag.</div>');
      $('.codeblock').text(menuArray[1].steptwo)
      tutorialStep = 2
  })
  // Step One
  $('.tutorialText li.three').on('click', function(){
      $('.tutorialText').empty();
      $('.tutorialText').append(instructions[2].stepthree);
      $('.tutorialText').append('<div class="codeblock codeblock1"></div>\
        <br><span>Let\'s also style our background while we are here.</span>\
        <div class="codeblock codeblock2"></div>\
        <div class="codeblock codeblock3"></div>\
        <div class="codeblock codeblock4"></div>\
        <div class="codeblock codeblock5"></div>\
        <div class="codeblock codeblock6"></div>\
        <div class="codeblock codeblock7"></div>')
      for (var i = 1; i <= 7; i++) {
        $('.codeblock'+i).text(menuArray[2].stepthree[i])
      }

      tutorialStep = 3
  })

    //Step two
   $('.tutorialText li.four').on('click', function(){
      $('.tutorialText').empty();
      $('.tutorialText').append(instructions[3].stepfour);
      $('.tutorialText').append('<div class="codeblock"></div>\
        <br><div class="textCode">\
          We\'ll give our div an id of "outerDiv". Place this block of code in your style div. We can refer to this in our style like this:\
        </div><br>\
        <div class="codeblock codeblock1">')

      $('.codeblock').text(menuArray[3].stepfour[0])
      $('.codeblock1').text(menuArray[3].stepfour[1])
      tutorialStep = 4
  })

 //End of reset buttons function 
} 


// Check if a user is logged in.
var checkIfLoggedIn = function () {
  if (window.current_user) {
    console.log("User logged in");
  } else {
    console.log("No user");
  }
};

// XSS to prevent Script tags
var sanitizeText = function (text) {
  var re = new RegExp("<.*script.*>(.*<\s*\/\s*script\s*>)?", "g");
  var currentContent = $("#txt").val();

  var newContent = currentContent.replace( re, "" );
  $("#txt").val(newContent);

  return newContent;
};

$(document).ready(function(){

  //This is the editable HTML text box.
  $('#staticLink').on('click', function(){

      $('#hypertextDropdown.notDropped').toggleClass( "dropped" )
      
      $('#txt').toggleClass( "inv" );

  });

  //This is the editable HTML text box.
  // This renders the page on keyup.
  $('#txt').keyup(function(){

    $('#userPage').html(   sanitizeText($(this).val())    );

  })//.trigger("keyup"); //This makes what's in the editable HTML text box render on the page automatically on page load.

  // This is to allow tabbing in the text box.
  $(document).delegate('#txt', 'keydown', function(e) {
    var keyCode = e.keyCode || e.which;

    if (keyCode == 9) {
      e.preventDefault();
      var start = $(this).get(0).selectionStart;
      var end = $(this).get(0).selectionEnd;

      // set textarea value to: text before caret + tab + text after caret
      $(this).val($(this).val().substring(0, start)
                  + "\t"
                  + $(this).val().substring(end));

      // put caret at right position again
      $(this).get(0).selectionStart =
      $(this).get(0).selectionEnd = start + 1;
    }

  });


  // Automated intro starts here:
  // Check to see if the user is logged in. If logged in, no intro, if not logged in start the intro.
  var checkIfLoggedIn = function () {
    if (window.current_user) {
      // console.log("User logged in");
    } else {
      // console.log("No user");

      intro();
    }
  };

  // Check to see if the user is on the homepage.
  // Only start intro if the user is on the homepage.
  var homePage = function(){
    if(location.pathname === '/'){
      checkIfLoggedIn();
    }
  };

  homePage();



  //Tutorial starts here:
  var tutorial = function(){


    //This is the tutorial button
    $('#tutorialBTN').on('click', function(){
        
        $('#tutorialBox').toggleClass( "tutDropped" )
        $('#tutorialBox').toggleClass( "menu" )

        $('.menu').toggleClass( "inv" );

        $('#tutorialBTN').toggleClass( "borderRight" )

        if ($('#tutorialBox').hasClass( "tutDropped" ) && tutorialStep === 0) {

          // $('.tutDropped').append('<p>Hi</p>').show();
          $('.tutorialText').html('<br><li class="one"><a>The Basic Tags</a></li><li class="two"><a>Styling</a></li><li class="three"><a>Build A Site! Step One:</a></li><li class="four"><a>Step Two:</a></li><li class="five"><a>Step Three:</a></li><li class="Six"><a>Step Four:</a></li><li class="Seven"><a>Step Five:</a></li><li class="Eight"><a>Step Six:</a></li><li class="Nine"><a>Step Seven:</a></li><li class="Ten"><a>Step Eight:</a></li><li class="Eleven"><a>Step Nine: Done!</a></li>').show();

          setButtons();

           // Always push your text to here.
        } else if (tutorialStep === 1){
            $('.tutorialText').empty();
            $('.tutorialText').append(instructions[0].stepone);
            $('.tutorialText').append('<br><div class="textCode">\
          <strong>This is a body tag.</strong>\
          </div>\
         <div class="codeblock codeblock0"></div>\
          <br>\
          <div class="textCode">\
            <strong>This is a paragraph tag.</strong>\
          </div>\
          <div class="codeblock codeblock1"></div>\
          <br>\
          <div class="textCode">\
            <strong>This is a header tag.</strong>\
          </div>\
          <div class="codeblock codeblock2"></div>\
          <br><div class="textCode">\
            <strong>This is a link tag.</strong>\
          </div>\
          <div class="codeblock codeblock3"></div>\
          <br><div class="textCode">\
          <strong>This is an image tag.</strong>\
          </div>\
          <div class="codeblock codeblock4"></div>\
          <br><div class="textCode">\
            <strong>This is a list tag.</strong>\
          </div>\
          <div class="codeblock codeblock5"></div>\
          <br><div class="textCode">\
            <strong>This is a division tag.</strong>\
          </div>\
          <div class="codeblock codeblock6"></div>\
          <br><div class="textCode">\
            <strong>This is a line break, you don\'t need a closing tag.</strong>\
          </div>\
          <div class="codeblock codeblock7"></div><br><br>');
      for (var i = 0; i <= 7; i++) {
        $('.codeblock' + i).text(menuArray[0].stepone[i]);
      }

      tutorialStep = 1;



          // (menuArray[0].stepone[0] + '<br>' + menuArray[0].stepone[1] + '<br>' + menuArray[0].stepone[2] + '<br>' + menuArray[0].stepone[3])


          tutorialStep = 1

        } else if (tutorialStep === 2){
          $('.tutorialText').empty();
          $('.tutorialText').append(instructions[1].steptwo);
          $('.tutorialText').append('<div class="codeblock"></div>')
          $('.tutorialText').append('<div class="textCode"><br>We will be putting all of our styling requirements inside of this tag.</div>');
          $('.codeblock').text(menuArray[1].steptwo)
          tutorialStep = 2

        } else if (tutorialStep === 3){
          $('.tutorialText').empty();
          $('.tutorialText').append(instructions[2].stepthree);
          $('.tutorialText').append('<div class="codeblock codeblock1"></div>\
          <br><span>Let\'s also style our background while we are here.</span>\
          <div class="codeblock codeblock2"></div>\
          <div class="codeblock codeblock3"></div>\
          <div class="codeblock codeblock4"></div>\
          <div class="codeblock codeblock5"></div>\
          <div class="codeblock codeblock6"></div>\
          <div class="codeblock codeblock7"></div>')

          for (var i = 1; i <= 7; i++) {
            $('.codeblock'+i).text(menuArray[2].stepthree[i])
          }

          tutorialStep = 3

      

        } else if (tutorialStep === 4){
          //Step two
           $('.tutorialText li.four').on('click', function(){
              $('.tutorialText').empty();
              $('.tutorialText').append(instructions[1].steptwo);
              $('.tutorialText').append('<div class="codeblock"></div>')
              $('.tutorialText').append('<div class="textCode"><br>We will be putting all of our styling requirements inside of this tag.</div>');
              $('.codeblock').text(menuArray[1].steptwo)
              tutorialStep = 4
            })
          }

 // Menu button
      $('#menu').on('click', function(){
        tutorialStep = 0;

        if ($('#tutorialBox').hasClass( "tutDropped" ) && tutorialStep === 0) {

            $('.tutorialText').html('<br><li class="one"><a>The Basic Tags</a></li><li class="two"><a>Styling</a></li><li class="three"><a>Build A Site! Step One:</a></li><li class="four"><a>Step Two:</a></li><li class="five"><a>Step Three:</a></li><li class="Six"><a>Step Four:</a></li><li class="Seven"><a>Step Five:</a></li><li class="Eight"><a>Step Six:</a></li><li class="Nine"><a>Step Seven:</a></li><li class="Ten"><a>Step Eight:</a></li><li class="Eleven"><a>Step Nine: Done!</a></li>').show();
          }
          setButtons();
      });


    //End of #tutorialBTN on click
    });


    //End of Tutorial function
  }


  tutorial();


// End of Document Ready
});


