var currentUserID = 0;

$(document).ready(function(){ 
  var currentUserExists = $('#HIDE').text();
  // console.log(currentUserExists === '\n  ');
  // console.log(currentUserExists.split(""))
  if ( currentUserExists !== "" ){ 
    currentUserID = JSON.parse(currentUserExists) 
  };
  
  $('.button').on('click', function(e){
    if (e.currentTarget.id === "signout"){
      $.ajax({
        url: '/users/sign_out',
        method: 'DELETE'
      }).done(function(){
        document.location.href="/"
      })

    } else if (e.currentTarget.id === "hyperLinks"){
      var hyperLists = $('#hyperLists')
      if ( hyperLists.hasClass('hidden') ){
          hyperLists.removeClass('hidden')

          $.ajax({
              url: '/finderID',
              method: 'PUT',
              dataType: 'json',
              data: {
                individual: currentUserID
              }
            }).done(function(data){
              // console.log(data)
              var i = 1
              data.forEach(function(e){
                // console.log(e)
                hyperLists.append('<a class="button bav" id="' + e.id + '" href="/hypertexts/'+e.id +'">' + i + '</a>');
                i++
              });
            });


        } else {
          hyperLists.addClass('hidden')
          hyperLists.empty();
        };

    } else if (e.currentTarget.id === "signin"){
      var email = $('#email').val();
      var password = $('#password').val();

      var req = {
        headers: {
          'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
        },
        url: "/users/sign_in",
        method: "POST",
        dataType: 'json',
        data: {  
          user: {
            "email": email,
            "password": password,
            "remember_me": 1
          }
        }
      }  
    
      $.ajax(req).done(function(data){
        window.current_user = data;
        currentUserID = data.id;
        var hy = $('#hyperLinks');
        hy.text('V');
        hy.removeClass('hidden');
        $(".save").removeClass("hidden");

        var ret = '';
        $('.login').html(
          '<li class="nav button" id="signout">Log out '+ data.email +'</li>'
        );

        $.ajax({
          url: 'finderID',
          method: 'PUT',
          dataType: 'json',
          data: {
            individual: data.id
          }
        }).done(function(data){
          $('#txt').val(data.content);
          console.log(data.id);
          console.log(data);
          $('#userPage').html($('#txt').val());
          history.pushState( {}, '', '/hypertexts/' + data.id );

        });

        $('.button').on('click', function(e){
          // console.log('clicked')
          if (e.currentTarget.id === "signout"){
            $.ajax({
              url: '/users/sign_out',
              method: 'DELETE'
            }).done(function(){
              document.location.href="/"
            })
          }
        });
      })

    } else if (e.currentTarget.id === "signup"){
      // console.log('YOU CLICKED ME')
      var email = $('#email').val();
      var password = $('#password').val();
      var hypertext = $('#txt').val();
      var req = {
        headers: {
          'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
        },
        url: "/users",
        method: "POST",
        dataType: 'json',
        data: {  
          user: {
            "email": email,
            "password": password,
            "password_confirmation": password,
            "remember_me": 1,
            "hypertext": hypertext
          }
        }
      }
      $.ajax(req).done(function(data){
        $('#savesies').removeClass("hidden");
        var hy = $('#hyperLinks');
        hy.text('V');
        hy.removeClass('hidden');

        currentUserID = data.id;
        var ret = '';
        $('.login').html(
          '<li class="nav button" id="signout">Log out '+ data.email +'</li>');
        console.log(data)

        // window.current_user = data2;
        // currentUserID = data2.id;
       $.ajax({
          url: 'finderID',
          method: 'PUT',
          dataType: 'json',
          data: {
            individual: currentUserID
          }
        }).done(function(data2){
          $('#txt').val(data2.content);
          console.log(data2.id);
          console.log(data2);
          $('#userPage').html($('#txt').val());
          history.pushState( {}, '', '/hypertexts/' + data2[0].id );

        });


        $('.button').on('click', function(e){
          // console.log('clicked')
          if (e.currentTarget.id === "signout"){
            $.ajax({
              url: '/users/sign_out',
              method: 'DELETE'
            }).done(function(){
              document.location.href="/"
            })
          }
        });
      })

    } else if (e.currentTarget.id === "savesies") {
      var updatedText = sanitizeText( $('#txt').val() );

      $.ajax({
        url: '/finderID',
        method: 'PUT',
        dataType: 'json',
        data: {
          individual: currentUserID
        }
      }).done(function(data){
        console.log(data)
        $.ajax({
          url: '/hypertexts/' + data.id,
          method: 'PUT',
          dataType: 'json',
          data: {
            hypertext: {
              content: updatedText,
              id: data.id
            }
          }
        }).done(function() {
          console.log('success!!!!!!!!!!');
        });
      });
    }
  
  });

  // $(document).change(function(){
  //   console.log("document changed")
  //   $('.button').on('click', function(e){
  //     console.log('clicked')
  //     if (e.currentTarget.id === "signout"){
  //       $.ajax({
  //         url: '/users/sign_out',
  //         method: 'DELETE'
  //       }).done(function(){
  //         document.location.href="/"
  //       })
  //     }
  //   });
  // });


});

