  var tutorial = function(){
   // Let's add some blinking to 'Hello World' at the begining.
    $('#hello').append('<span id="less">></span>')
    $('#hello').append('<span class="blink">.</span>')

    var hello = "..Hello World!"
    var split = hello.split("");

    var runText = function(){
      var writeMe = function(num){

        setTimeout(function(){ 
          // console.log(split, i)
          $('.blink').append('<span>' + split[num] + '</span>')
        }, 100 * num); 
      }

      for (var i = 0; i < split.length; i++) {
        writeMe(i)
        
      };
    }

    setTimeout(function(){
      runText()
    },2500)


    //Tutorial Step 1:
    //Arrow


  }