.login {
  position: fixed;
  border: 2px solid white;
  color: white;
  text-align: center;
  display: inline-block;
  top: 0;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 12px;
  box-sizing: border-box;
  padding: 0;
  background-color: rgba(121, 121, 121, 0.5);
}

.innerLogin1 {
  display: block;
  width: 100%;
  left: 0;
  top: 0;
  text-align: left;
  box-sizing: border-box;
}

#password, #email{
  width: 100px;
  box-sizing: border-box;
}

.innerLogin2{
  display: block;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.save {
  position: fixed;
  border: 2px solid white;
  color: white;
  text-align: center;
  display: inline-block;
  right: 3px;
  bottom: 0px;
  z-index: 100;
  padding: 5px;
  font-family: "Lucida Console", Monaco, monospace;
  background-color: rgba(121, 121, 121, 0.5);

}

#hypertextDropdown {
  border: 2px solid white;
  z-index: 2;
  margin-top: 0px;
  position: fixed;
  display: inline-block;
  vertical-align: top;
  right: 0px;
}

#staticLink {
  z-index: 2;
  color: white;
  text-align: right;
  padding-right: 6px;
  font-family: "Lucida Console", Monaco, monospace;
  background-color: rgba(121, 121, 121, 0.5);
  
}


.notDropped {
  text-align: center;
  width: 50px;
  top: 0;
  right: 0;
  margin-left: 95%;
  z-index: 2;
}

.dropped {
  width: 40%;
  margin-left: 59.7%;
  top:0;
  bottom:0;
  left:0;
  right:0;
  overflow:hidden;
  z-index: 2;
}

#editBox {
  width: 100%;
  min-height: 100%;
  border: 2px solid red;
  z-index: 2;
}

#userPage {
  /*border: 1px solid green;*/
  width: 100%;
  min-height: 100%;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  z-index:-1; /* Background! */
}

html {
  min-height: 100%;
  position: relative;
}

body {
  height: 100%;
  background-color:#1C1C00;
}

#txt {
  width: 99%;
  height: 96.5%;
  resize: none;
  background-color: rgba(255, 255, 255, .9);
  font-family: "Lucida Console", Monaco, monospace;

}

.inv {
  display: none;
}

h1 {
  margin:0;
}

a:link {
  color:white;
  text-decoration: none;
}

.nav {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}

.bottom {
  top: 500px;
  left: 500px;
  position: fixed;
}

#HIDE {
  visibility: hidden;
}

input {
  vertical-align: top;
  font-size:11px;
  font-family: "Lucida Console", Monaco, monospace;

}

#signin:hover, #signup:hover, .save:hover, #staticLink:hover, #signout:hover, #tutorialBTN:hover {
  color: #66afe9;
  cursor: pointer; 
  cursor: hand;
}


