#tutorialBTN {
  position: fixed;
  bottom: 0;
  left: 3;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 12px;
  padding: 2px;
  color: white;
  width: 58px;
  border-top: 2px solid white;
}

.borderRight {
  border-right: 2px solid white;
}

#tutDown {
  position: relative;
}

#tutorialBox{
  border: 2px solid white;
  z-index: 2;
  margin-top: 0px;
  position: fixed;
  display: inline-block;
  vertical-align: bottom;
  left: 0px;
  bottom: 0px;
}

.tutNotDropped {
  width: 62px;
  height: 18px;
  background-color: rgba(121, 121, 121, 0.5);
}

.tutDropped {
  width: 40%;
  height: 60%;
  left: 0;
  bottom: 0;
}

#tutorialBox * {
  display: none;
}

#tutorialBox.tutDropped * {
  display: block;
}

#tutorialBox #tutorialBTN {
  display: block;
}

#menu {
  z-index: 10;
  width: 45px;
  height: 18px;
  /*margin-top: 20px;*/
  margin-left: 62px;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 12px;
  text-align: center;
  border-top: 2px solid white;
  border-right: 2px solid white;
  color: white;
  padding-top: 2px;
  position: fixed;
  bottom: 0;

}

.tutorialText{
  height: 100%;
  width: 100%;
  text-align: center;
  overflow: auto;
  color: black;
  font-family: "Lucida Console", Monaco, monospace;
}

a{
  color: white;
  font-family: "Lucida Console", Monaco, monospace;
}

.codeblock {
  width: 50%;
  margin-left: 25%;
  text-align: left;
  background-color: grey;
}

.textCode{
  font-weight: strong;
  width: 50%;
  margin-left: 25%;
  text-align: left;

}