#tutorialBTN {
  position: fixed;
  bottom: 0;
  left: 0;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 12px;
  padding: 2px;
  color: white;
  width: 58px;
  border-top: 2px solid white;
}

.borderRight {
  border-right: 2px solid white;
}

#tutorialBox{
  border: 2px solid white;
  z-index: 2;
  margin-top: 0px;
  position: fixed;
  display: inline-block;
  vertical-align: bottom;
  left: 0px;
  bottom: 0px;
}

.tutNotDropped {
  width: 60px;
  height: 18px;
  background-color: rgba(121, 121, 121, 0.5);
}

.tutDropped {
  width: 50%;
  height: 60%;
  left: 0;
  bottom: 0;
}